{% extends 'base.html' %}
{% block content %}
<main class="container py-5 ">
    <section >
    <h1>{{ titulo }}</h1>
    
    <ul>
        {% for circular in circulares %}
            {% if circular.important %}
                <li class="card card-body my-2 py-1 card-importante">
            {% else %}
                <li class="card card-body my-2 py-1 ">
            {% endif %}
                <a href="{% url 'circularDetalle' circular.id %}">
                        
                        <h2>{{circular.title}}</h2>
                    <hr>
                    <p>{{circular.description}}</p>
                    <p>Creado por {{circular.user.username}}</p>
                    <p>{{ circular.datecompleted|date:"l, j \d\e F \d\e\l Y - H:i\h\s" }}</p>

                </a>
            </li>
        {% endfor %}

    </ul>
    </section>
</main>


{% endblock %}