{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body text-center shadow-lg">
                <h1 class="mb-4">{{ titulo }}</h1>
                
                {{ error }}
                {% csrf_token %}
            
                <div class="mb-3 text-start">
                    <label for="apellidoYNombre" class="form-label">Apellido y nombre:</label>
                    <input type="text" name="apellidoYNombre" id="apellidoYNombre" class="form-control" 
                        placeholder="Ingrese apellido y nombre" autocomplete="name" required 
                        value="{{ form.apellidoYNombre.value|default_if_none:'' }}">
                </div>
            
                <div class="mb-3 text-start">
                    <label for="subGerencia" class="form-label">Sub gerencia:</label>
                    <input type="text" name="subGerencia" id="subGerencia" class="form-control"
                        placeholder="Ingrese la subgerencia" 
                        value="{{ form.subGerencia.value|default_if_none:'' }}">
                </div>

                <div class="mb-3 text-start">
                    <label for="grupo" class="form-label">Grupo:</label>
                    <input type="text" name="grupo" id="grupo" class="form-control"
                        placeholder="Ingrese el grupo" 
                        value="{{ form.grupo.value|default_if_none:'' }}">
                </div>
            
                <div class="mb-3 text-start">
                    <label for="email" class="form-label">E-mail:</label>
                    <input type="email" name="email" id="email" class="form-control"
                        placeholder="Ingrese el correo" required
                        value="{{ form.email.value|default_if_none:'' }}">
                </div>
                
                <div class="mb-3 text-start">
                    <label for="telefono" class="form-label">Teléfono:</label>
                    <input type="text" name="telefono" id="telefono" class="form-control"
                        placeholder="Ingrese el teléfono" 
                        value="{{ form.telefono.value|default_if_none:'' }}">
                </div>
                
                <div class="mb-3 text-start">
                    <label for="interno" class="form-label">Interno:</label>
                    <input type="text" name="interno" id="interno" class="form-control"
                        placeholder="Ingrese el interno" 
                        value="{{ form.interno.value|default_if_none:'' }}">
                </div>
                
                <div class="mb-3 text-start">
                    <label for="celular" class="form-label">Celular:</label>
                    <input type="text" name="celular" id="celular" class="form-control"
                        placeholder="Ingrese el celular" 
                        value="{{ form.celular.value|default_if_none:'' }}">
                </div>
                
                <button class="btn btn-primary w-100">Guardar</button>
            </form>
            
        </div>
    </div>
</main>

{% endblock %}