{% extends 'base.html' %}
{% block content %}
<main class="container py-5 ">
    <section >
    <h1>{{ titulo }}</h1>
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" href="/createCircular">Crear circular</a>
    </div>
    <ul>
        {% for circular in circulares %}
            <li class="card card-body my-2 py-1 ">
                <a href="{% url 'circularDetalle' circular.id %}">
                    <div class="d-flex justify-content-between ">
                        <h2>{{circular.titulo}}</h2>
                        <form action="{% url 'deleteCircular' circular.id %}" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger ">Eliminar circular</button>
                        </form>
                    </div>
                    <hr>
                    <p>{{circular.descripcion}}</p>
                    <p>Creado por {{circular.user.username}}</p>
                    <p>{{ circular.created|date:"l, j \d\e F \d\e\l Y - H:i\h\s" }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
    </section>
</main>
{% endblock %}